.swiper-container {
  width: 480px;
}

@media screen and (min-width: 900px) {
  .swiper-container {
    width: 900px;
  }
}

@media screen and (min-width: 1000px) {
  .swiper-container {
    width: 1000px;
  }
}